@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
h1 {
  color: rgb(208, 85, 85);
}

body {
  color: rgb(51, 53, 51);
  background-color: rgb(161, 187, 234);
  text-align: center;
  font-family: "Playwrite England SemiJoined";
}

h4 {
  margin: 0px;
}

.landing image {
  width: 0px;
  length: 0px;
}
